html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
ion-app,
app-root {
    @extend .app-root;
    @include perspective(500);
}
html.d-no-phone {
    ion-app {
        @extend .display-block;
        @extend .centered-h;
        max-width:414px;
        box-shadow:0 0 0 1px #E0E6ED;
    }
}
