ion-alert {
    @extend .display-none;
    @include perspective();
    @extend .alert-#{$plt};

    &[show]{
        @extend .display-flex;
    }
}
button[ion-radio-button] {
    @extend .alert-radio;

    span {
        @extend .button-inner;
    }
}
button[ion-checkbox-button] {
    @extend .alert-checkbox;

    span {
        @extend .button-inner;
    }
}
button[ion-alert-button] {
    @extend .alert-button;
}
alert-radio-group,
alert-checkbox-group {
    @extend .pt-xxs;
    @extend .pb-xs;
    @extend .mt--xxs;
}
.alert-radio-label,
.alert-checkbox-label {
    font-size:1.6rem;
}
.alert-input-group {
    input {
        @extend .alert-input;
    }
}
.alert-input {
    font-size:1.5rem;
}
.alert-#{$plt} {
    .alert-button {
        &:active {
             @extend .alert-button.activated;
        }
    }
}
@each $title in (wrapper, head, title, sub-title, message, input-group, radio-group, checkbox-group, button-group, radio-icon, radio-label, checkbox-icon, checkbox-label){
    alert-#{$title} {
        @extend .alert-#{$title};
    }
}
alert-title,
alert-sub-title,
alert-message,
alert-radio-icon,
alert-checkbox-icon {
    @extend .display-block;
}
.alert-ios {
    alert-message {
        @extend .mt--9;
    }
}
alert-wrapper {
    @include accelerate();
    @extend .willChange-tp;
    min-width:300px;
}
alert-radio-icon:after {
    @extend .display-block;
    @extend .content-empty;
    @extend .alert-radio-inner;
}
alert-checkbox-icon:after {
    @extend .display-block;
    @extend .content-empty;
    @extend .alert-checkbox-inner;
}
.alert-radio,
.alert-checkbox {
    @extend .alert-tappable;
}
