ion-content {
    @extend .content-#{$plt};

    &:before {
        @extend .display-block;
        @extend .content-empty;
        @extend .fixed-content;
    }
    &[cards-bg]{
        @extend .bg-snow447;
    }
    @if $plt == "ios" {
        &[outer]{
            @extend .outer-content;
        }
    }
}
scroll-content {
    @extend .scroll-content;
}
fixed-content {
    @extend .fixed-content;
}
@if $plt == "ios" {
    scroll-content,
    fixed-content,
    ion-content:before {
        margin-top:$toolbar-ios-height;
    }
    ion-statusbar ~ ion-nav,
    ion-statusbar ~ ion-menu {
        scroll-content,
        fixed-content,
        ion-content:before {
            margin-top:$toolbar-ios-height + $cordova-ios-statusbar-padding;
        }
    }
}
@if $plt == "md" {
    scroll-content,
    fixed-content,
    ion-content:before {
        margin-top:$toolbar-md-height;
    }
    ion-statusbar ~ ion-nav,
    ion-statusbar ~ ion-menu {
        scroll-content,
        fixed-content,
        ion-content:before {
            margin-top:$toolbar-md-height + $cordova-md-statusbar-padding;
        }
    }
}
@if $plt == "wp" {
    scroll-content,
    fixed-content,
    ion-content:before {
        margin-top:$toolbar-wp-height;
    }
    ion-statusbar ~ ion-nav,
    ion-statusbar ~ ion-menu {
        scroll-content,
        fixed-content,
        ion-content:before {
            margin-top:$toolbar-wp-height + $cordova-wp-statusbar-padding;
        }
    }
}
