ion-radio {
    @extend .radio-#{$plt};

    @if $plt == "ios" {
        margin-top:1px !important;
    }
    &[checked]{
        radio-icon {
            @extend .radio-checked;
        }
    }
}
radio-icon {
    @extend .radio-icon;
}
radio-inner {
    @extend .radio-inner;

    @if $plt == "ios" {
        width: 8px !important;
        height: 16px !important;
    }
}
ion-item[item-radio]{
    @extend .cursor-pointer;

    &[checked]{
        @extend .item-radio-checked;

        radio-icon {
            @extend .radio-checked;
        }
    }
}
