.ios .statusbar-img-ios,
.wp .statusbar-img-wp {
    padding: 5px 0;
}
.#{$plt} .statusbar-img-#{$plt} {
    display: block !important;
    z-index: 999;
    top: 0;
    height: auto;
}
.#{$plt} .statusbar-img-#{$plt} {
    position: absolute;
    background-color: transparent;
    width: 100%;
}
.statusbar-img {
    display: none;
}
