@each $title, $color in (primary: $primary, blue: $blue, black: $black, blackLight: $blackLight, white: $white, gray: $gray, grayDark: $grayDark, smoke: $smoke, smokeDark: $smokeDark, snow: $snow, snow458: $snow458, snow447: $snow447, snowDark: $snowDark, green: $green, red: $red, orange: $orange, violet: $violet){
    .bg-#{$title},
    .text-strike[data-color=#{$title}]:after {
        background-color:$color;
    }
    .bg-#{$title}-transparent {
        background-color:rgba($color,.1);
    }
    .c-#{$title} {
        color:$color;
    }
    .fill-#{$title} {
        fill:$color;
    }
    .borderColor-#{$title} {
        border-color:$color;
    }
    .borderColor-#{$title}-transparent {
        border-color:rgba($color,.1);
    }
    .boxShadow-#{$title} {
        box-shadow:0 0 0 1px $color;
    }
    .boxShadowInset-#{$title} {
        box-shadow:inset 0 0 0 1px $color;
    }
    svg[fill-color="#{$title}"]{
        path, rect, polygon, circle {
            fill:$color;
        }
    }
}
.bg-overlay {
    background-color:rgba(40,47,51,.76);
}
.bg-overlay-dark {
    background:radial-gradient(rgba(64,64,75,.9), rgba(17,17,24,.9)) rgba(34,34,40,.52);
}
.bg-gradient-tb-white {
	background:linear-gradient(to bottom, #fff, rgba(#fff,0));
}
.bg-gradient-bt-white {
	background:linear-gradient(to top, #fff, rgba(#fff,0));
}
.bg-gradient-lr-white {
	background:linear-gradient(to right, #fff, rgba(#fff,0));
}
.bg-gradient-rl-white {
	background:linear-gradient(to left, #fff, rgba(#fff,0));
}
