<ion-action-sheet class="action-sheet-{ plt }">

    <ion-backdrop ref="backdrop" onClick={ hide } onUpdate="none"></ion-backdrop>

    <action-sheet-wrapper ref="wrapper">
        <action-sheet-container>
            <action-sheet-group>
                <action-sheet-title if={ data.title }>{ data.title }</action-sheet-title>
                <button onClick={ onSelect } onUpdate="none" each={ item in data.items } no-reorder ion-action-sheet-button class={ item.color ? "c-" + item.color : null }>
                    <span>{ item.title }</span>
                </button>
            </action-sheet-group>
            <action-sheet-group if={ data.cancel }>
                <button onClick={ onCancel } onUpdate="none" ion-action-sheet-button cancel>
                    <span>{ data.cancel && data.cancel.title ? data.cancel.title : $defaults.actionSheet.cancel }</span>
                </button>
            </action-sheet-group>
        </action-sheet-container>
    </action-sheet-wrapper>

<script>

    var $ = this;

    $.show = function(data){
        if (data && !_.isEmpty(data.items)){
            $.update({
                data: data
            })
            Animation.ActionSheet.show($);
        }
    };

    $.onSelect = function(){
        if (this.item && _.isFunction(this.item.callback)){
            this.item.callback();
        }
        $.hide();
    };

    $.onCancel = function(){
        if ($.data.cancel && _.isFunction($.data.cancel.callback)){
            $.data.cancel.callback();
        }
        $.hide();
    };

    $.hide = function(){
        Animation.ActionSheet.hide($, $.data.afterHide && _.isFunction($.data.afterHide) && function(){
            $.data.afterHide();
        });
    };

</script>

</ion-action-sheet>
