<ion-app class="app-root-{ plt } { plt } platform-mobile platform-{ plt } platform-mobileweb">

    <app-root>
        <ion-statusbar></ion-statusbar>

        <ion-nav>
            <social-card></social-card>
        </ion-nav>

    </app-root>

    <ion-alert></ion-alert>
    <ion-action-sheet></ion-action-sheet>

<script>

    window.$root = this;

    this.on("mount", function(){

        $Alert = $root.tags["ion-alert"];
        $ActionSheet = $root.tags["ion-action-sheet"];

    });

</script>

</ion-app>
