<ion-app class="app-root-{ plt } { plt } platform-mobile platform-{ plt } platform-mobileweb">

    <app-root>
        <ion-statusbar></ion-statusbar>
        <ion-menu></ion-menu>
        <ion-nav>
            <ion-section></ion-section>
        </ion-nav>
    </app-root>

    <ion-modal-root></ion-modal-root>

    <ion-alert></ion-alert>
    <ion-popover></ion-popover>
    <ion-loading></ion-loading>
    <ion-action-sheet></ion-action-sheet>

<script>

    window.$root = this;

    this.on("mount", function(){

        $Alert = $root.tags["ion-alert"];
        $Menu = $root.tags["ion-menu"];
        $Loader = $root.tags["ion-loading"];
        $Popover = $root.tags["ion-popover"];
        $ActionSheet = $root.tags["ion-action-sheet"];

        $Modals = $root.tags["ion-modal-root"];

        riot.mount("ion-section", "page-popovers");

        $root.$scope = $$($root.root);
        $root.$pages = $root.$scope.find("app-root > ion-nav");

    });

</script>

</ion-app>
