<alert-radio class="ion-page">

    <ion-header section="Radio"></ion-header>

    <ion-content padding fixed>
        <scroll-content>

            <button onClick={ onAlert } ion-button block>
                <span>Show Radio Alert</span>
            </button>

        </scroll-content>
    </ion-content>

<script>

    this.onAlert = function(){
        $Alert.show({
            title: "Which planets have you visited?",
            cancel: true,
            radio: {
                callback: function(items){
                    console.dir(items);
                },
                items: [
                    {
                        title: "Alderaan",
                        checked: true
                    },
                    {
                        title: "Bespin",
                        checked: false
                    },
                    {
                        title: "Coruscant",
                        checked: false
                    },
                    {
                        title: "Endor",
                        checked: false
                    },
                    {
                        title: "Hoth",
                        checked: false
                    },
                    {
                        title: "Jakku",
                        checked: false
                    }
                ]
            }
        });
    };

</script>

</alert-radio>
