<badges-in-card class="ion-page">

    <ion-header section="Badges"></ion-header>

    <ion-content fixed>
        <scroll-content>

            <ion-card class="pb8">
                <img src="/assets/img/bjork-live.jpg">

                <ion-card-content>
                    <ion-card-title>
                        Björk
                    </ion-card-title>
                    <p>
                        Björk first came to prominence as one of the lead vocalists of the avant pop Icelandic sextet the Sugarcubes, but when...
                    </p>
                </ion-card-content>

                <ion-item>
                    <ion-icon item-start name="musical-notes" style="color:#d03e84"></ion-icon>
                    <item-inner>
                        <input-wrapper>
                            <ion-label>Albums</ion-label>
                        </input-wrapper>
                        <ion-badge item-end>9</ion-badge>
                    </item-inner>
                </ion-item>

                <ion-item>
                    <ion-icon item-start name="logo-twitter" style="color:#55acee"></ion-icon>
                    <item-inner>
                        <input-wrapper>
                            <ion-label>Followers</ion-label>
                        </input-wrapper>
                        <ion-badge item-end>260k</ion-badge>
                    </item-inner>
                </ion-item>
              </ion-card>

        </scroll-content>
    </ion-content>

</badges-in-card>
