<button-sizes class="ion-page">

    <ion-header section="Button Sizes"></ion-header>

    <ion-content padding fixed>
        <scroll-content>

            <p>
                <button color="light" ion-button small>
                    <span>Light Small</span>
                </button>
            </p>
            <p>
                <button ion-button small>
                    <span>Default Small</span>
                </button>
            </p>
            <p>
                <button color="secondary" ion-button>
                    <span>Secondary Medium</span>
                </button>
            </p>
            <p>
                <button color="danger" ion-button>
                    <span>Danger Medium</span>
                </button>
            </p>
            <p>
                <button color="dark" ion-button large>
                    <span>Dark Large</span>
                </button>
            </p>

        </scroll-content>
    </ion-content>

</button-sizes>
