<card-list class="ion-page">

    <ion-header section="Card Lists"></ion-header>

    <ion-content fixed cards-bg>
        <scroll-content>

            <ion-card>
              <ion-card-header class="c-blueLight">
                Explore Nearby
              </ion-card-header>

              <ion-list>
                <button ion-item>
                    <ion-icon name="cart" item-start></ion-icon>
                    <item-inner>
                        <input-wrapper>
                            <ion-label>Shopping</ion-label>
                        </input-wrapper>
                    </item-inner>
                </button>
                <button ion-item>
                    <ion-icon name="medical" item-start></ion-icon>
                    <item-inner>
                        <input-wrapper>
                            <ion-label>Hospital</ion-label>
                        </input-wrapper>
                    </item-inner>
                </button>
                <button ion-item>
                    <ion-icon name="cafe" item-start></ion-icon>
                    <item-inner>
                        <input-wrapper>
                            <ion-label>Cafe</ion-label>
                        </input-wrapper>
                    </item-inner>
                </button>
                <button ion-item>
                    <ion-icon name="paw" item-start></ion-icon>
                    <item-inner>
                        <input-wrapper>
                            <ion-label>Dog Park</ion-label>
                        </input-wrapper>
                    </item-inner>
                </button>
                <button ion-item>
                    <ion-icon name="beer" item-start></ion-icon>
                    <item-inner>
                        <input-wrapper>
                            <ion-label>Pub</ion-label>
                        </input-wrapper>
                    </item-inner>
                </button>
                <button ion-item>
                    <ion-icon name="planet" item-start></ion-icon>
                    <item-inner>
                        <input-wrapper>
                            <ion-label>Space</ion-label>
                        </input-wrapper>
                    </item-inner>
                </button>

              </ion-list>
            </ion-card>

        </scroll-content>
    </ion-content>

</card-list>
