<card-headers class="ion-page">

    <ion-header section="Card Headers"></ion-header>

    <ion-content fixed cards-bg>
        <scroll-content>

            <ion-card>
                <ion-card-header>
                    Header
                </ion-card-header>
                <ion-card-content>
                    The British use the term "header", but the American term "head-shot" the English simply refuse to adopt.
                </ion-card-content>
            </ion-card>

        </scroll-content>
    </ion-content>

</card-headers>
