<clear-buttons class="ion-page">

    <ion-header section="Clear Buttons"></ion-header>

    <ion-content padding>
        <scroll-content>

            <p>
                <button color="light" ion-button clear>
                    <span>Light</span>
                </button>
            </p>
            <p>
                <button ion-button clear>
                    <span>Default</span>
                </button>
            </p>
            <p>
                <button color="secondary" ion-button clear>
                    <span>Secondary</span>
                </button>
            </p>
            <p>
                <button color="danger" ion-button clear>
                    <span>Danger</span>
                </button>
            </p>
            <p>
                <button color="dark" ion-button clear>
                    <span>Dark</span>
                </button>
            </p>

        </scroll-content>
    </ion-content>

</clear-buttons>
