<fixed-labels class="ion-page">

    <ion-header section="Fixed Labels"></ion-header>

    <ion-content>
        <scroll-content>

            <ion-list inset>
                <ui-input label="Username" stacked placeholder="Your email"></ui-input>
                <ui-input label="Password" stacked type="password" placeholder="Please password"></ui-input>
            </ion-list>

            <div padding class="mt--s">
                <button ion-button block>
                    <span>Sign In</span>
                </button>
            </div>

        </scroll-content>
    </ion-content>

</fixed-labels>
