<icon-list class="ion-page">

    <ion-header section="Icon list"></ion-header>

    <ion-content>
        <scroll-content>

            <ion-list no-border>

                <ion-list-header>
                    <item-inner>
                        <input-wrapper>

                            <ion-label>
                                Classes
                            </ion-label>
                        </input-wrapper>

                    </item-inner>

                </ion-list-header>

                <ion-item>
                    <ion-icon item-start name="planet"></ion-icon>
                    <item-inner>
                        <input-wrapper>

                            <ion-label>

                                Astronomy

                            </ion-label>
                        </input-wrapper>
                        <ion-note item-end>
                            To the moon
                        </ion-note>

                    </item-inner>

                </ion-item>

                <ion-item>
                    <ion-icon item-start name="body"></ion-icon>
                    <item-inner>
                        <input-wrapper>
                            <ion-label>
                                Muggle Studies
                            </ion-label>

                        </input-wrapper>
                        <ui-switcher></ui-switcher>
                    </item-inner>

                </ion-item>

                <ion-item>
                    <ion-icon item-start name="leaf"></ion-icon>
                    <item-inner>
                        <input-wrapper>

                            <ion-label>

                                Herbology

                            </ion-label>
                        </input-wrapper>
                        <ion-icon color="green" item-end name="rose"></ion-icon>

                    </item-inner>

                </ion-item>

                <ion-item>
                    <ion-icon item-start name="flask"></ion-icon>
                    <item-inner>
                        <input-wrapper>

                            <ion-label>

                                Potions

                            </ion-label>
                        </input-wrapper>
                        <ion-note item-end>
                            Poisonous
                        </ion-note>

                    </item-inner>

                </ion-item>

            </ion-list>

            <ion-list>

                <ion-list-header>
                    <item-inner>
                        <input-wrapper>

                            <ion-label>
                                Activities
                            </ion-label>
                        </input-wrapper>

                    </item-inner>

                </ion-list-header>

                <ion-item>
                    <ion-icon item-start name="color-wand"></ion-icon>
                    <item-inner>
                        <input-wrapper>

                            <ion-label>
                                Incantation


                            </ion-label>
                        </input-wrapper>
                        <ion-note item-end>Crucio!</ion-note>

                    </item-inner>

                </ion-item>

                <ion-item>
                    <ion-icon item-start name="brush"></ion-icon>
                    <item-inner>
                        <input-wrapper>
                            <ion-label>
                                Quidditch Practice
                            </ion-label>

                        </input-wrapper>
                        <ui-switcher checked></ui-switcher>

                    </item-inner>

                </ion-item>


                <ion-item>
                    <ion-icon item-start name="wine"></ion-icon>
                    <item-inner>
                        <input-wrapper>

                            <ion-label>

                                Mead Drinking

                            </ion-label>
                        </input-wrapper>
                        <ion-note item-end>Yes please</ion-note>

                    </item-inner>

                </ion-item>


            </ion-list>

            <ion-list>

                <ion-list-header>
                    <item-inner>
                        <input-wrapper>

                            <ion-label>
                                Friends
                            </ion-label>
                        </input-wrapper>

                    </item-inner>

                </ion-list-header>

                <ion-item>
                    <ion-icon item-start name="flash"></ion-icon>
                    <item-inner>
                        <input-wrapper>

                            <ion-label>

                                Harry

                            </ion-label>
                        </input-wrapper>
                        <ion-note item-end>The boy who lived</ion-note>

                    </item-inner>

                </ion-item>

                <ion-item>
                    <ion-icon item-start name="book"></ion-icon>
                    <item-inner>
                        <input-wrapper>

                            <ion-label>

                                Hermoine

                            </ion-label>
                        </input-wrapper>
                        <ion-note item-end>Muggle-born</ion-note>

                    </item-inner>
                </ion-item>

                <ion-item>
                    <ion-icon item-start name="beer"></ion-icon>
                    <item-inner>
                        <input-wrapper>

                            <ion-label>

                                Ron

                            </ion-label>
                        </input-wrapper>
                        <ion-note item-end>Brilliant!</ion-note>

                    </item-inner>
                </ion-item>


            </ion-list>            

        </scroll-content>
    </ion-content>

</icon-list>
