<icon-buttons class="ion-page">

    <ion-header section="Icon Buttons"></ion-header>

    <ion-content padding>
        <scroll-content>

            <p>
                <button color="light" icon-left ion-button>
                    <span>
                        <ion-icon name="arrow-back"></ion-icon>
                        Back
                    </span>
                </button>
                <button color="light" icon-only ion-button>
                    <span><ion-icon name="arrow-down"></ion-icon></span>
                </button>
                <button color="light" icon-only ion-button>
                    <span><ion-icon name="arrow-up"></ion-icon></span>
                </button>
                <button color="light" icon-left ion-button>
                    <span>
                        <ion-icon name="arrow-forward"></ion-icon>
                        Next
                    </span>
                </button>
            </p>
            <p>
                <button icon-left ion-button>
                    <span>
                      <ion-icon name="home"></ion-icon>
                      Home
                    </span>
                </button>
                <button icon-left ion-button outline>
                    <span>
                      <ion-icon name="briefcase"></ion-icon>
                      Work
                    </span>
                </button>
                <button icon-left ion-button clear>
                    <span>
                      <ion-icon name="beer"></ion-icon>
                      Pub
                    </span>
                </button>
             </p>
             <p>
                 <button color="secondary" icon-left ion-button>
                     <span>
                       <ion-icon name="people"></ion-icon>
                       Friends
                     </span>
                 </button>
                 <button color="secondary" icon-left ion-button outline>
                     <span>
                       <ion-icon name="paw"></ion-icon>
                       Best Friend
                     </span>
                 </button>
             </p>
             <p>
                 <button color="danger" icon-left ion-button>
                     <span>
                       <ion-icon name="close"></ion-icon>
                       Remove
                     </span>
                 </button>
                 <button color="danger" icon-only ion-button outline>
                     <span>
                       <ion-icon name="remove-circle"></ion-icon>
                     </span>
                 </button>
                 <button color="danger" icon-only ion-button clear>
                     <span>
                       <ion-icon name="trash"></ion-icon>
                     </span>
                 </button>
             </p>
             <p>
                 <button color="dark" icon-left ion-button>
                     <span>
                       <ion-icon name="construct"></ion-icon>
                       Tools
                     </span>
                 </button>
                 <button color="dark" icon-only ion-button clear>
                     <span>
                       <ion-icon name="hammer"></ion-icon>
                     </span>
                 </button>
             </p>      

        </scroll-content>
    </ion-content>

</icon-buttons>
