<list-dividers class="ion-page">

    <ion-header section="List Dividers"></ion-header>

    <ion-content>
        <scroll-content>

            <ion-item-group>
                <ion-item-divider color="light">
                    <item-inner>
                        <input-wrapper>

                            <ion-label>A</ion-label>
                        </input-wrapper>
                    </item-inner>

                </ion-item-divider>
                <ion-item>
                    <item-inner>
                        <input-wrapper>

                            <ion-label>Angola</ion-label>
                        </input-wrapper>
                    </item-inner>

                </ion-item>
                <ion-item>
                    <item-inner>
                        <input-wrapper>

                            <ion-label>Argentina</ion-label>
                        </input-wrapper>
                    </item-inner>

                </ion-item>
                <ion-item>
                    <item-inner>
                        <input-wrapper>

                            <ion-label>Armenia</ion-label>
                        </input-wrapper>
                    </item-inner>

                </ion-item>
                <ion-item>
                    <item-inner>
                        <input-wrapper>

                            <ion-label>Australia</ion-label>
                        </input-wrapper>
                    </item-inner>

                </ion-item>
                <ion-item>
                    <item-inner>
                        <input-wrapper>

                            <ion-label>Austria</ion-label>
                        </input-wrapper>
                    </item-inner>

                </ion-item>
            </ion-item-group>

            <ion-item-group>
                <ion-item-divider color="light">
                    <item-inner>
                        <input-wrapper>

                            <ion-label>B</ion-label>
                        </input-wrapper>
                    </item-inner>

                </ion-item-divider>
                <ion-item>
                    <item-inner>
                        <input-wrapper>

                            <ion-label>Bangladesh</ion-label>
                        </input-wrapper>
                    </item-inner>

                </ion-item>
                <ion-item>
                    <item-inner>
                        <input-wrapper>

                            <ion-label>Belarus</ion-label>
                        </input-wrapper>
                    </item-inner>

                </ion-item>
                <ion-item>
                    <item-inner>
                        <input-wrapper>

                            <ion-label>Belgium</ion-label>
                        </input-wrapper>
                    </item-inner>

                </ion-item>
                <ion-item>
                    <item-inner>
                        <input-wrapper>

                            <ion-label>Bhutan</ion-label>
                        </input-wrapper>
                    </item-inner>

                </ion-item>
                <ion-item>
                    <item-inner>
                        <input-wrapper>

                            <ion-label>Bolivia</ion-label>
                        </input-wrapper>
                    </item-inner>

                </ion-item>
                <ion-item>
                    <item-inner>
                        <input-wrapper>

                            <ion-label>Brazil</ion-label>
                        </input-wrapper>
                    </item-inner>

                </ion-item>
            </ion-item-group>

            <ion-item-group>
                <ion-item-divider color="light">
                    <item-inner>
                        <input-wrapper>

                            <ion-label>C</ion-label>
                        </input-wrapper>
                    </item-inner>

                </ion-item-divider>
                <ion-item>
                    <item-inner>
                        <input-wrapper>

                            <ion-label>Cambodia</ion-label>
                        </input-wrapper>
                    </item-inner>

                </ion-item>
                <ion-item>
                    <item-inner>
                        <input-wrapper>

                            <ion-label>Cameroon</ion-label>
                        </input-wrapper>
                    </item-inner>

                </ion-item>
                <ion-item>
                    <item-inner>
                        <input-wrapper>

                            <ion-label>Canada</ion-label>
                        </input-wrapper>
                    </item-inner>

                </ion-item>
                <ion-item>
                    <item-inner>
                        <input-wrapper>

                            <ion-label>Chile</ion-label>
                        </input-wrapper>
                    </item-inner>

                </ion-item>
                <ion-item>
                    <item-inner>
                        <input-wrapper>

                            <ion-label>China</ion-label>
                        </input-wrapper>
                    </item-inner>

                </ion-item>
                <ion-item>
                    <item-inner>
                        <input-wrapper>

                            <ion-label>Colombia</ion-label>
                        </input-wrapper>
                    </item-inner>

                </ion-item>
                <ion-item>
                    <item-inner>
                        <input-wrapper>

                            <ion-label>Costa Rica</ion-label>
                        </input-wrapper>
                    </item-inner>

                </ion-item>
                <ion-item>
                    <item-inner>
                        <input-wrapper>

                            <ion-label>Cuba</ion-label>
                        </input-wrapper>
                    </item-inner>

                </ion-item>
                <ion-item>
                    <item-inner>
                        <input-wrapper>

                            <ion-label>Cyprus</ion-label>
                        </input-wrapper>
                    </item-inner>

                </ion-item>
                <ion-item>
                    <item-inner>
                        <input-wrapper>

                            <ion-label>Czech Republic</ion-label>
                        </input-wrapper>
                    </item-inner>

                </ion-item>
            </ion-item-group>

        </scroll-content>
    </ion-content>

</list-dividers>
