<page-keyboard class="ion-page">

    <ion-digit-keyboard class="visible">

        <div class='keyboard-ionic'>
            <div class="ion-digit-keyboard visible">
                <div class="digit-keyboard-row">
                    <div class="digit-keyboard-key-wrapper">
                        <div class="digit-keyboard-key">
                            <div class="digit-keyboard-key-number">1
                                <div class="digit-keyboard-key-letters"></div>
                            </div>
                        </div>
                    </div>
                    <div class="digit-keyboard-key-wrapper">
                        <div class="digit-keyboard-key">
                            <div class="digit-keyboard-key-number">2
                                <div class="digit-keyboard-key-letters">ABC</div>
                            </div>
                        </div>
                    </div>
                    <div class="digit-keyboard-key-wrapper">
                        <div class="digit-keyboard-key">
                            <div class="digit-keyboard-key-number">3
                                <div class="digit-keyboard-key-letters">DEF</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="digit-keyboard-row">
                    <div class="digit-keyboard-key-wrapper">
                        <div class="digit-keyboard-key">
                            <div class="digit-keyboard-key-number">4
                                <div class="digit-keyboard-key-letters">GHI</div>
                            </div>
                        </div>
                    </div>
                    <div class="digit-keyboard-key-wrapper">
                        <div class="digit-keyboard-key">
                            <div class="digit-keyboard-key-number">5
                                <div class="digit-keyboard-key-letters">JKL</div>
                            </div>
                        </div>
                    </div>
                    <div class="digit-keyboard-key-wrapper">
                        <div class="digit-keyboard-key">
                            <div class="digit-keyboard-key-number">6
                                <div class="digit-keyboard-key-letters">MNO</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="digit-keyboard-row">
                    <div class="digit-keyboard-key-wrapper">
                        <div class="digit-keyboard-key">
                            <div class="digit-keyboard-key-number">7
                                <div class="digit-keyboard-key-letters">PQRS</div>
                            </div>
                        </div>
                    </div>
                    <div class="digit-keyboard-key-wrapper">
                        <div class="digit-keyboard-key">
                            <div class="digit-keyboard-key-number">8
                                <div class="digit-keyboard-key-letters">TUV</div>
                            </div>
                        </div>
                    </div>
                    <div class="digit-keyboard-key-wrapper">
                        <div class="digit-keyboard-key">
                            <div class="digit-keyboard-key-number">9
                                <div class="digit-keyboard-key-letters">WXYZ</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="digit-keyboard-row">
                    <div class="digit-keyboard-key-wrapper">
                        <div class="digit-keyboard-key action-key">
                            <div class="digit-keyboard-key-action">
                                <ion-icon name="leftAction"></ion-icon>
                            </div>
                        </div>
                    </div>
                    <div class="digit-keyboard-key-wrapper">
                        <div class="digit-keyboard-key">
                            <div class="digit-keyboard-key-number" style="margin-top: -0.30em;">0</div>
                        </div>
                    </div>
                    <div class="digit-keyboard-key-wrapper">
                        <div class="digit-keyboard-key action-key">
                            <div class="digit-keyboard-key-action">
                                <ion-icon name="rightAction"></ion-icon>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </ion-digit-keyboard>

</page-keyboard>
