<sliding-list class="ion-page">

    <ion-header section="Sliding List"></ion-header>

    <ion-content class="list-avatar-page" outer>
        <scroll-content>

            <ion-list>
                <ion-list-header>
                    <item-inner>
                        <input-wrapper>

                            <ion-label>
                                Busters
                            </ion-label>
                        </input-wrapper>

                    </item-inner>

                </ion-list-header>

                <ion-item-sliding>
                    <ion-item>
                        <ion-avatar item-start>
                            <img src="https://randomuser.me/api/portraits/women/{ _.random(1, 99) }.jpg">
                        </ion-avatar>
                        <item-inner>
                            <input-wrapper>

                                <ion-label>

                                    <h2>Venkman</h2>
                                    <p>Back off man, I'm a scientist.</p>
                                </ion-label>
                            </input-wrapper>

                        </item-inner>

                    </ion-item>
                    <ion-item-options>
                        <button color="light" icon-left ion-button><span>
                      <ion-icon name="more"></ion-icon>
                      More
                    </span></button>
                        <button color="primary" icon-left ion-button><span>
                      <ion-icon name="text"></ion-icon>
                      Text
                    </span></button>
                        <button color="secondary" icon-left ion-button><span>
                      <ion-icon name="call"></ion-icon>
                      Call
                    </span></button>
                    </ion-item-options>
                </ion-item-sliding>


                <ion-item-sliding>
                    <ion-item>
                        <ion-avatar item-start>
                            <img src="https://randomuser.me/api/portraits/women/{ _.random(1, 99) }.jpg">
                        </ion-avatar>
                        <item-inner>
                            <input-wrapper>

                                <ion-label>

                                    <h2>Egon</h2>
                                    <p>We're gonna go full stream.</p>
                                </ion-label>
                            </input-wrapper>

                        </item-inner>

                    </ion-item>
                    <ion-item-options>
                        <button color="light" icon-left ion-button><span>
                      <ion-icon name="more"></ion-icon>
                      More
                    </span></button>
                        <button color="primary" icon-left ion-button><span>
                      <ion-icon name="text"></ion-icon>
                      Text
                    </span></button>
                        <button color="secondary" icon-left ion-button><span>
                      <ion-icon name="call"></ion-icon>
                      Call
                    </span></button>
                    </ion-item-options>
                </ion-item-sliding>

                <ion-item-sliding>
                    <ion-item>
                        <ion-avatar item-start>
                            <img src="https://randomuser.me/api/portraits/women/{ _.random(1, 99) }.jpg">
                        </ion-avatar>
                        <item-inner>
                            <input-wrapper>

                                <ion-label>

                                    <h2>Ray</h2>
                                    <p>Ugly little spud, isn't he?</p>
                                </ion-label>
                            </input-wrapper>

                        </item-inner>

                    </ion-item>
                    <ion-item-options>
                        <button color="light" icon-left ion-button><span>
                      <ion-icon name="more"></ion-icon>
                      More
                    </span></button>
                        <button color="primary" icon-left ion-button><span>
                      <ion-icon name="text"></ion-icon>
                      Text
                    </span></button>
                        <button color="secondary" icon-left ion-button><span>
                      <ion-icon name="call"></ion-icon>
                      Call
                    </span></button>
                    </ion-item-options>
                </ion-item-sliding>

                <ion-item-sliding>
                    <ion-item>
                        <ion-avatar item-start>
                            <img src="https://randomuser.me/api/portraits/women/{ _.random(1, 99) }.jpg">
                        </ion-avatar>
                        <item-inner>
                            <input-wrapper>

                                <ion-label>

                                    <h2>Winston</h2>
                                    <p>That's a big Twinkie.</p>
                                </ion-label>
                            </input-wrapper>

                        </item-inner>

                    </ion-item>
                    <ion-item-options>
                        <button color="light" icon-left ion-button><span>
                      <ion-icon name="more"></ion-icon>
                      More
                    </span></button>
                        <button color="primary" icon-left ion-button><span>
                      <ion-icon name="text"></ion-icon>
                      Text
                    </span></button>
                        <button color="secondary" icon-left ion-button><span>
                      <ion-icon name="call"></ion-icon>
                      Call
                    </span></button>
                    </ion-item-options>
                </ion-item-sliding>

                <ion-item-sliding>
                    <ion-item>
                        <ion-avatar item-start>
                            <img src="https://randomuser.me/api/portraits/women/{ _.random(1, 99) }.jpg">
                        </ion-avatar>
                        <item-inner>
                            <input-wrapper>

                                <ion-label>

                                    <h2>Tully</h2>
                                    <p>Okay, who brought the dog?</p>
                                </ion-label>
                            </input-wrapper>

                        </item-inner>

                    </ion-item>
                    <ion-item-options>
                        <button color="light" icon-left ion-button><span>
                      <ion-icon name="more"></ion-icon>
                      More
                    </span></button>
                        <button color="primary" icon-left ion-button><span>
                      <ion-icon name="text"></ion-icon>
                      Text
                    </span></button>
                        <button color="secondary" icon-left ion-button><span>
                      <ion-icon name="call"></ion-icon>
                      Call
                    </span></button>
                    </ion-item-options>
                </ion-item-sliding>

                <ion-item-sliding>
                    <ion-item>
                        <ion-avatar item-start>
                            <img src="https://randomuser.me/api/portraits/women/{ _.random(1, 99) }.jpg">
                        </ion-avatar>
                        <item-inner>
                            <input-wrapper>

                                <ion-label>

                                    <h2>Dana</h2>
                                    <p>I am The Gatekeeper!</p>
                                </ion-label>
                            </input-wrapper>

                        </item-inner>

                    </ion-item>
                    <ion-item-options>
                        <button color="light" icon-left ion-button><span>
                      <ion-icon name="more"></ion-icon>
                      More
                    </span></button>
                        <button color="primary" icon-left ion-button><span>
                      <ion-icon name="text"></ion-icon>
                      Text
                    </span></button>
                        <button color="secondary" icon-left ion-button><span>
                      <ion-icon name="call"></ion-icon>
                      Call
                    </span></button>
                    </ion-item-options>
                </ion-item-sliding>

            </ion-list>

            <ion-list>
                <ion-list-header>
                    <item-inner>
                        <input-wrapper>

                            <ion-label>
                                Ghosts
                            </ion-label>
                        </input-wrapper>

                    </item-inner>

                </ion-list-header>

                <ion-item-sliding>
                    <ion-item>
                        <ion-avatar item-start>
                            <img src="https://randomuser.me/api/portraits/women/{ _.random(1, 99) }.jpg">
                        </ion-avatar>
                        <item-inner>
                            <input-wrapper>

                                <ion-label>

                                    <h2>Slimer</h2>
                                    <p>Boo!</p>
                                </ion-label>
                            </input-wrapper>

                        </item-inner>

                    </ion-item>
                    <ion-item-options>
                        <button color="light" icon-left ion-button><span>
                       <ion-icon name="more"></ion-icon>
                       More
                     </span></button>
                        <button color="primary" icon-left ion-button><span>
                       <ion-icon name="text"></ion-icon>
                       Text
                     </span></button>
                        <button color="secondary" icon-left ion-button><span>
                       <ion-icon name="call"></ion-icon>
                       Call
                     </span></button>
                    </ion-item-options>
                </ion-item-sliding>

                <ion-item-sliding>
                    <ion-item>
                        <ion-avatar item-start>
                            <img src="https://randomuser.me/api/portraits/women/{ _.random(1, 99) }.jpg">
                        </ion-avatar>
                        <item-inner>
                            <input-wrapper>

                                <ion-label>

                                    <h2>Stay Puft Marshmallow Man</h2>
                                    <p>Never cross the streams!</p>
                                </ion-label>
                            </input-wrapper>

                        </item-inner>

                    </ion-item>
                    <ion-item-options>
                        <button color="light" icon-left ion-button><span>
                       <ion-icon name="more"></ion-icon>
                       More
                     </span></button>
                        <button color="primary" icon-left ion-button><span>
                       <ion-icon name="text"></ion-icon>
                       Text
                     </span></button>
                        <button color="secondary" icon-left ion-button><span>
                       <ion-icon name="call"></ion-icon>
                       Call
                     </span></button>
                    </ion-item-options>
                </ion-item-sliding>

                <ion-item-sliding>
                    <ion-item>
                        <ion-avatar item-start>
                            <img src="https://randomuser.me/api/portraits/women/{ _.random(1, 99) }.jpg">
                        </ion-avatar>
                        <item-inner>
                            <input-wrapper>

                                <ion-label>

                                    <h2>Gozer</h2>
                                    <p>Are you a God?</p>
                                </ion-label>
                            </input-wrapper>

                        </item-inner>

                    </ion-item>
                    <ion-item-options>
                        <button color="light" icon-left ion-button><span>
                       <ion-icon name="more"></ion-icon>
                       More
                     </span></button>
                        <button color="primary" icon-left ion-button><span>
                       <ion-icon name="text"></ion-icon>
                       Text
                     </span></button>
                        <button color="secondary" icon-left ion-button><span>
                       <ion-icon name="call"></ion-icon>
                       Call
                     </span></button>
                    </ion-item-options>
                </ion-item-sliding>

            </ion-list>

        </scroll-content>
    </ion-content>


<script>

    var $ = this;

    $.on("mount", function(){
        new Animation.ItemSliding($.root.querySelectorAll("ion-list"));
    });

</script>

</sliding-list>
